link(rel='stylesheet', href='Vendor/CSS/bootstrap.min.css')
link(rel='stylesheet', href='Vendor/CSS/jquery.gridster.min.css')
link(rel='stylesheet', href='Vendor/Fonts/icomoon.css')
link(rel='stylesheet', href='Vendor/CSS/toastr.min.css')
link(rel='stylesheet', href='Project/CSS/style.css')

<link href='http://fonts.googleapis.com/css?family=Exo+2:400,400italic,700,300' rel='stylesheet' type='text/css'>