script(src='Vendor/Javascript/jquery-2.0.3.min.js')
script(src='Vendor/Javascript/jquery.gridster.min.js')
script(src='Vendor/Javascript/bootstrap.min.js')
script(src='Vendor/Javascript/globalize.min.js')
script(src='Vendor/Javascript/dx.chartjs.js')
script(src='Vendor/Javascript/knockout-3.0.0.js')
script(src='Vendor/Javascript/toastr.min.js')

